@import 'vars.less';

body{
	background:url('../images/layout/padrao-background.png') @rosa_bg;
	header{
		.centralizar;
		position:relative;
		height:215px;
		nav{
			height:60px;
			width:100%;
			position:absolute;
			top:82px;
			ul{
				height:60px;
				background-color:#fff;
				padding:0 25px;
				font-size:0;
				.arredondada(30px);
				li{
					height:60px;
					line-height:60px;
					.inline;
					&:first-child a{padding-left:0;}
					&:last-child a{padding-right:0;}
					a{
						padding:0 18px;
						text-decoration:none;
						color:@azul;
						.marcellus(14px);
						.transition;
						&:active, &:visited{color:@azul;}
						&:hover, &.ativo{color:@roxo;}
					}
					&#link-home{
						margin-top:-70px;						
					}
				}
			}
		}
		#segundaNav{
			width:140px;
			height:22px;
			position:absolute;
			top:40px;
			right:25px;
			font-size:0;
			.audioControls{
				.inline;
				padding-top:3px;
				padding-right:4px;
				margin-top: -10px;
				a{
					margin-right:5px;
					margin-bottom:8px;
					.inline;
					.transition;
					&:active img{
						-moz-transform: translateY(1px);
						-webkit-transform: translateY(1px);
						-o-transform: translateY(1px);
						-ms-transform: translateY(1px);
						transform: translateY(1px);					
					}
					&:hover{
						-moz-transform: scale(1.1);
						-webkit-transform: scale(1.1);
						-o-transform: scale(1.1);
						-ms-transform: scale(1.1);
						transform: scale(1.1);						
					}
				}
				#volume-control{}
			}
			.social{
				.inline;
				a{
					margin-left:7px;
					.inline;
					.transition;
					&:active, &:visited{}
					&:hover{}
				}
			}
		}
	}
	.main{
		min-height:500px;
		position:relative;
		&:before{
			content:"";
			display:block;
			background:url('../images/layout/padrao-background.png') @rosa_bg;
			position:absolute;
			top:0;
			left:0;
			z-index:9999998;
			width:100%;
			height:0%;
			overflow:hidden;
			opacity:0;
			.transition(opacity, .3s, ease-in);
		}
		&:after{
			content:"";
			display:block;
			background:url('../images/layout/ajax-loader.gif') center 50px no-repeat;
			position:absolute;
			top:0;
			left:0;
			z-index:9999999;
			width:100%;
			overflow:hidden;
			height:0%;
			opacity:0;
			.transition(opacity, .3s, ease-in);
		}
		&.loading{
			&:before{
				height:100%;
				opacity:1;
			}
			&:after{
				height:100%;
				opacity:1;
			}
		}
		.centro{
			.centralizar;
		}
		h1.pagenotfound{
			color:@azul;
			.marcellus(31px);
			text-align:center;
			position:relative;
			margin-top: 65px;
			&:before{
				content:"";
				.inline;
				vertical-align:baseline;
				margin-right:15px;
				position:relative;
				width:70px;
				height:20px;
				background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
			}
			&:after{
				content:"";
				.inline;
				vertical-align:baseline;
				margin-left:15px;
				position:relative;
				width:70px;
				height:20px;
				background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
			}				
		}
		&.main-home{
			.topo{
				h2{
					.marcellus(17px);
					color:@roxo;
					text-align:center;
					line-height:120%;
				}
				h1{
					.marcellus(27px);
					color:@roxo;
					text-align:center;
					line-height:120%;
					margin-bottom:25px;
				}
				font-size:0;
				#banners-home{
					.inline;
					width:625px;
					.banners{
						width:625px;
						height:400px;
						overflow:hidden;
						.banner{
							width:625px;
							height:400px;
							position:relative;
							img{
								z-index:8;
								position:absolute;
								top:0;
								left:0;
								max-width:625px;
								max-height:400px;
							}
							.legenda{
								width:100%;
								z-index:9;
								position: absolute;
								left:0;
								bottom:0;
								height:45px;
								line-height:45px;
								text-indent:20px;
								color:#fff;
								.marcellus(22px);
								overflow:hidden;
								background: url('rgba.php/rgba(111, 112, 132, 0.7)');
								background: rgba(111, 112, 132, 0.7);
							}
						}
					}
					.pager{
						text-align:right;
						height:15px;
						line-height:15px;
						padding-top:15px;
						a{
							width:10px;
							height:10px;
							margin:0 4px;
							background:#9FA0D0;
							-webkit-transform:scale(0.9);
							-moz-transform:scale(0.9);
							-ms-transform:scale(0.9);
							-o-transform:scale(0.9);
							transform:scale(0.9);
							&:last-child{margin-right:0;}
							.arredondada(100%);
							.inline;
							.transition;
							&:active, &:visited{}
							&:hover, &.activeSlide{
								background-color:#8591FF;
								-webkit-transform:scale(1.1);
								-moz-transform:scale(1.1);
								-ms-transform:scale(1.1);
								-o-transform:scale(1.1);
								transform:scale(1.1);
							}
						}
					}
				}
				#chamadas-home{
					.inline;
					margin-left:35px;
					width:300px;
					a{
						width:300px;
						height:120px;
						margin-bottom:20px;
						display:block;
						position:relative;
						img{
							max-width:300px;
							max-height:120px;
							position:absolute;
							top:0;
							left:0;
						}
						.texto{
							position:absolute;
							bottom:0;
							left:0;
							height:30px;
							line-height:30px;
							text-indent: 20px;
							width:100%;
							color:#fff;
							.marcellus(17px);
							overflow:hidden;
							background: url('rgba.php/rgba(111, 112, 132, 0.7)');
							background: rgba(111, 112, 132, 0.7);
						}
						&:last-child{
							margin-bottom:0;
						}
						.transition;
						&:active, &:visited{}
						&:hover{}
					}
				}
			}
			#faixa-branca{
				margin:25px 0 0 0;
				padding:45px 0;
				background:#fff;
				h1{
					color:@azul;
					.marcellus(31px);
					text-align:center;
					position:relative;
					margin-bottom: 35px;
					&:before{
						content:"";
						.inline;
						vertical-align:baseline;
						margin-right:15px;
						position:relative;
						width:70px;
						height:20px;
						background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
					}
					&:after{
						content:"";
						.inline;
						vertical-align:baseline;
						margin-left:15px;
						position:relative;
						width:70px;
						height:20px;
						background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
					}
				}
				.centro{
					a{
						.inline;
						margin:0 10px;
						width:216px;
						text-align:center;
						text-decoration:none;
						.marcellus(17px);
						color:@azul;
						.imagem{
							padding:10px;
							margin-bottom:25px;
							.arredondada(100%);
							border:8px #fff solid;
							.transition;
							img{
								display:block;
								margin:0 auto;
								.arredondada(100%);
								max-width:180px;								
							}
						}
						.transition;
						&:active, &:visited{color:@azul;}
						&:hover{
							.imagem{
								border:8px @rosa_bg solid;
							}
						}
					}
				}
			}
			.inferior{
				padding-top:65px;
				padding-bottom:70px;
				#coluna-novidades{
					.inline;
					width:630px;
					font-size:0;
					h1{
						.marcellus(31px);
						color:@azul;
						&:after{
							content:"";
							.inline;
							vertical-align:baseline;
							margin-left:15px;
							position:relative;
							width:70px;
							height:20px;
							background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
						}
					}
					.novidade{
						text-decoration:none;
						.transition;
						margin-top:35px;
						border:1px #60628d solid;
						width:200px;
						margin-right:12px;
						&:active, &:visited{
							.titulo{color:#fff;}
							.texto{color:#60628d;}
						}
						&:last-child{margin-right:0;}
						.inline;
						.titulo{
							.calibri(17px);
							color:#fff;
							padding:10px;
							background:#60628d;
							/*height:40px;*/
							overflow:hidden;
							line-height:130%;
						}
						.texto{
							.calibri(16px);
							color:#60628d;
							padding:10px;
							/*height:134px;*/
							overflow:hidden;
							line-height:130%;
						}
					}
				}
				#coluna-newsletter{
					.inline;
					margin-left:25px;
					width:300px;
					h1{
						.marcellus(31px);
						color:@azul;
						&:after{
							content:"";
							.inline;
							vertical-align:baseline;
							margin-left:15px;
							position:relative;
							width:70px;
							height:20px;
							background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
						}
					}
					p{
						margin-top:35px;
						.calibri(14px);
						color:#60628d;
						line-height:130%;
					}
					form{
						margin:25px 0;
						input[type="text"],
						input[type="email"]{
							border:1px #8E95FF solid;
							background:#fff;
							margin:0 0 10px 0;
							padding:4px 10px;
							height:20px;
							line-height:20px;
							color:#000;
							width:278px;
							.placeholder(#000);
							.calibri(15px);
						}
						.submit{
							text-align:right;
							height:25px;
							input[type="submit"]{
								.marcellus(18px);
								color:@azul;
								background:none;
								border:0;
								margin:0;
								cursor:pointer;
								padding-right:15px;
								background:url('../images/layout/botao-enviar.png') right center no-repeat;
								.transition;
								&:hover{color:@roxo;}
							}
						}
					}
				}
			}
		}
		&.main-empresa{
			h1{
				color:@azul;
				.marcellus(31px);
				text-align:center;
				position:relative;
				margin-bottom: 35px;
				&:before{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-right:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
				}
				&:after{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-left:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
				}				
			}
			img{
				float:right;
				margin-top: -40px;
			}
			h2{
				.marcellus(25px);
				color:@roxo;
				margin-bottom:30px;
			}
			.texto{
				width:610px;
				p{
					.calibri(14px);
					color:@azul;
					line-height:140%;
					margin-bottom:30px;
				}
			}
			.fix{
				clear:both;
				padding-bottom:100px;
			}
		}
		&.main-produtoscategorias,
		&.main-produtosdetalhes,
		&.main-produtos{
			h1.pagetitle{
				color:@azul;
				.marcellus(31px);
				text-align:center;
				position:relative;
				margin-bottom: 35px;
				&:before{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-right:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
				}
				&:after{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-left:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
				}				
			}
			font-size:0;
			aside{
				width:275px;
				.inline;
				h1{
					.marcellus(23px);
					color:@roxo;
				}
				ul{
					margin:30px 0;
					li{
						height:28px;
						line-height:28px;
						a{
							text-decoration:none;
							color:@azul;
							display:block;
							position:relative;
							.calibri(15px);
							.transition;
							&:before{
								content:"•";
								position:absolute;
								left:0;
								top:0%;
								display:inline;
								opacity:0;
								.transition;
							}
							&:active, &:visited{color:@azul;}
							&:hover, &.ativo{
								padding-left:7px;
								font-weight:bold;
								color:@roxo;								
								&:before{
									opacity:1;
								}
							}
						}
					}
				}
			}
			section{
				width:685px;
				margin-bottom:60px;
				.inline;
				h1{
					.marcellus(23px);
					color:@roxo;
					margin-bottom:35px;
					height:23px;
					overflow:hidden;
					position:relative;
					display:block;
					&:after{
						margin-left:15px;
						content:"";
						display:inline;
						width:100%;
						height:1px;
						background:@roxo;
						top:50%;
						position:absolute;
					}
				}
				a.thumb{
					width:200px;
					height:200px;
					.inline;
					margin:0 42px 42px 0;
					&:nth-of-type(3n){margin-right:0;}
					&:active, &:visited{}					
					
					position:relative;					
				    &:before{
				    	content:"";
				    	display:block;
				    	position:absolute;
				    	top:0;
				    	left:0;
				    	width:100%;
				    	height:100%;
				    	opacity:0;
				    	background-color: rgba(85,95,180,0.2);
				    	.transition;
				    }					
					&:hover{					
						&:before{
							opacity:1;
						}					
					}
				}
				ul.pagination{
					height:30px;
					margin-top:55px;
					text-align:center;
					li{
						.inline;
						width:20px;
						height:20px;
						line-height:15px;
						margin:0 5px;
						.calibri(14px, bold);
						&.disabled{display:none;}
						&.active{
							span{
								display:block;
								line-height:20px;
								width:100%;
								height:100%;
								margin:0;
								padding:0;
								text-align:center;
								background:@roxo;
								color:#fff;
								border:2px @roxo solid;
								.arredondada(100%);
							}
						}
						a{
							display: block;
							text-decoration:none;
							line-height:20px;
							width:100%;
							height:100%;
							margin:0;
							padding:0;
							text-align:center;
							background:#fff;
							color:@roxo;
							border:2px @roxo solid;
							.arredondada(100%);
							.transition;
							&:active, &:visited{color:@roxo;}
							&:hover{
								background:@roxo;
								color:#fff;
							}
						}
					}
				}
				#ampliada{
					width:450px;
					height:450px;
					overflow:hidden;
					.inline;
					img{
						display:block;
						margin:0 auto;
						max-width:450px;
						max-height:450px;
					}
				}
				.texto{
					margin-left:40px;
					width:195px;
					position:relative;
					height:450px;
					.inline;
					h2{
						color:@azul;
						.calibri(16px);
						margin-bottom:5px;
					}
					h3{
						color:@azul;
						.calibri(30px);
						margin-bottom:5px;
					}
					.galeria{
						margin-top:25px;
						height:349px;
						overflow:hidden;
						a{
							.inline;
							width:55px;
							height:55px;
							img{
								max-width:55px;
								max-height:55px;
							}
							margin:0 15px 15px 0;
							&:nth-child(3n){margin-right:0;}
						 	.transition;
						 	position:relative;					
						    &:before{
						    	content:"";
						    	display:block;
						    	position:absolute;
						    	top:0;
						    	left:0;
						    	width:100%;
						    	height:100%;
						    	opacity:0;
						    	background-color: rgba(85,95,180,0.2);
						    	.transition;
						    }					
							&:hover, &.aberto{					
								&:before{
									opacity:1;
								}					
							}
						}
					} 
					.voltar{
						height:25px;
						width:100%;
						position:absolute;
						bottom:0;
						left:0;
						a{
							display:block;
							color:@roxo;
							border:1px @roxo solid;
							text-align:center;
							text-decoration: none;
							height: 25px;
							line-height: 25px;
							.arredondada(13px);
							.marcellus(15px);
							.transition;
							&:active, &:visited{color:@roxo;}
							&:hover{
								color:@azul;
								border:1px @azul solid;
							}
						}
					}
				}
			}
		}
		&.main-lancamentos,
		&.main-lancamentosdetalhes{
			h1.pagetitle{
				color:@azul;
				.marcellus(31px);
				text-align:center;
				position:relative;
				margin-bottom: 35px;
				&:before{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-right:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
				}
				&:after{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-left:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
				}				
			}
			#faixa-branca-lanc{
				background:#fff;
				font-size:0;
				margin-top:90px;
				margin-bottom:180px;
				a{
					width:200px;
					text-align: center;
					text-decoration: none;
					margin:-35px 21px 85px 21px;
					.inline;
					&:first-child,
					&:nth-child(5){
						margin-left:15px;
					}
					&:nth-child(8),
					&:nth-child(4){
						margin-right:15px;
					}
					&:nth-child(n+4){
						margin-bottom:-65px;
					}
					&:active, &:visited{
						.texto{color:@azul;}
					}
					&:hover{
						.imagem img{
							border-color:@azul;
						}
					}
					.imagem{
						width: 200px;
						height: 200px;
						img{
							.transition;
							.arredondada(100%);
							border:10px #fff solid;
							max-width: 180px;
							max-height: 180px;
						}
					}
					.texto{
						margin-top:15px;
						.marcellus(18px);
						color:@azul;
					}
				}
			}
			.centro{font-size: 0;}
			aside{
				width:275px;
				.inline;
				h1{
					.marcellus(23px);
					color:@roxo;
				}
				ul{
					margin:30px 0;
					li{
						height:28px;
						line-height:28px;
						a{
							text-decoration:none;
							color:@azul;
							display:block;
							position:relative;
							.calibri(15px);
							.transition;
							&:before{
								content:"•";
								position:absolute;
								left:0;
								top:0%;
								display:inline;
								opacity:0;
								.transition;
							}
							&:active, &:visited{color:@azul;}
							&:hover, &.ativo{
								padding-left:7px;
								font-weight:bold;
								color:@roxo;								
								&:before{
									opacity:1;
								}
							}
						}
					}
				}
			}
			section{
				width:685px;
				margin-bottom:60px;
				.inline;
				h1{
					.marcellus(23px);
					color:@roxo;
					margin-bottom:35px;
					height:23px;
					overflow:hidden;
					position:relative;
					display:block;
					&:after{
						content:"";
						margin:0;
						display:inline;
						width:100%;
						height:1px;
						background:@roxo;
						top:50%;
						position:absolute;
					}
				}
				a.thumb{
					width:200px;
					height:200px;
					.inline;
					margin:0 42px 42px 0;
					&:nth-of-type(3n){margin-right:0;}
					.transition;
					&:active, &:visited{}
					&:hover{}
				}
				ul.pagination{
					height:30px;
					margin-top:55px;
					text-align:center;
					li{
						.inline;
						width:20px;
						height:20px;
						line-height:15px;
						margin:0 5px;
						.calibri(14px, bold);
						&.disabled{display:none;}
						&.active{
							span{
								display:block;
								line-height:20px;
								width:100%;
								height:100%;
								margin:0;
								padding:0;
								text-align:center;
								background:@roxo;
								color:#fff;
								border:2px @roxo solid;
								.arredondada(100%);
							}
						}
						a{
							display: block;
							text-decoration:none;
							line-height:20px;
							width:100%;
							height:100%;
							margin:0;
							padding:0;
							text-align:center;
							background:#fff;
							color:@roxo;
							border:2px @roxo solid;
							.arredondada(100%);
							.transition;
							&:active, &:visited{color:@roxo;}
							&:hover{
								background:@roxo;
								color:#fff;
							}
						}
					}
				}
				#ampliada{
					width:450px;
					height:450px;
					overflow:hidden;
					.inline;
					img{
						display:block;
						margin:0 auto;
						max-width:450px;
						max-height:450px;
					}
				}
				.texto{
					margin-left:40px;
					width:195px;
					position:relative;
					height:450px;
					.inline;
					h2{
						color:@azul;
						.calibri(16px);
						margin-bottom:5px;
					}
					h3{
						color:@azul;
						.calibri(30px);
						margin-bottom:5px;
					}
					.galeria{
						margin-top:25px;
						height:349px;
						overflow:hidden;
						a{
							.inline;
							width:55px;
							height:55px;
							img{
								max-width:55px;
								max-height:55px;
							}
							margin:0 15px 15px 0;
							&:nth-child(3n){margin-right:0;}
						 	.transition;
						 	&:active, &:visited{}
						 	&:hover{}
						}
					} 
					.voltar{
						height:25px;
						width:100%;
						position:absolute;
						bottom:0;
						left:0;
						a{
							display:block;
							color:@roxo;
							border:1px @roxo solid;
							text-align:center;
							text-decoration: none;
							height: 25px;
							line-height: 25px;
							.arredondada(13px);
							.marcellus(15px);
							.transition;
							&:active, &:visited{color:@roxo;}
							&:hover{
								color:@azul;
								border:1px @azul solid;
							}
						}
					}
				}
			}			
		}
		&.main-novidades{
			h1.pagetitle{
				color:@azul;
				.marcellus(31px);
				text-align:center;
				position:relative;
				margin-bottom: 35px;
				&:before{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-right:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
				}
				&:after{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-left:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
				}				
			}
			.fix{clear:both;}
			padding-bottom: 60px;
			.imagem{
				width:280px;
				float:right;
				img{
					max-width: 280px;
					display:block;
					margin:0 auto;
				}
			}
			section{
				width:615px;
				.novidade{
					margin-bottom:25px;
					border:1px #595FB5 solid;
					.superior{
						padding:12px 15px;
						background:#595FB5;
						color:#fff;
						.calibri(15px);
						.data{
							float:right;
						}
					}
					.inferior{
						padding:12px 15px;
						color:#595FB5;
						.calibri(15px);
						line-height:140%;
					}
				}
			}
		}
		&.main-clippings{
			h1.pagetitle{
				color:@azul;
				.marcellus(31px);
				text-align:center;
				position:relative;
				margin-bottom: 35px;
				&:before{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-right:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
				}
				&:after{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-left:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
				}				
			}
			.lista-clippings{
				padding-bottom:60px;
				font-size:0;
				.link-visivel{
					.inline;
					width:215px;
					height:280px;
					margin-right:30px;
					margin-bottom:30px;
					&:nth-child(4n){margin-right:0;}
					img{
						max-width:215px;
						max-height:280px;
						display:block;
						margin:0 auto;
					}
				}
			}
		}
		&.main-contato{
			margin-bottom: -14px;
			h1.pagetitle{
				color:@azul;
				.marcellus(31px);
				text-align:center;
				position:relative;
				margin-bottom: 55px;
				&:before{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-right:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-1.png') center center no-repeat;
				}
				&:after{
					content:"";
					.inline;
					vertical-align:baseline;
					margin-left:15px;
					position:relative;
					width:70px;
					height:20px;
					background:url('../images/layout/icone-titulo-2.png') center center no-repeat;
				}				
			}
			.contato-colunas{
				font-size:0;
				.coluna-form{
					.inline;
					width:365px;
					h2{
						color:@roxo;
						.marcellus(22px);
					}
					form{
						margin-top:18px;
						input[type="email"],
						input[type="text"]{
							background:none;
							border:1px @azul solid;
							display:block;
							margin:0 0 0 0;
							padding:4px 14px;
							width:335px;
							height:22px;
							line-height:22px;
							margin-bottom:10px;
							color:@azul;
							.calibri(14px);
							.placeholder(#777);
						}
						textarea{
							background:none;
							border:1px @azul solid;
							display:block;
							margin:0 0 0 0;
							padding:4px 14px;
							width:335px;
							height:100px;
							line-height:22px;
							margin-bottom:10px;
							color:@azul;
							resize:none;
							overflow:auto;
							.calibri(14px);
							.placeholder(#777);
						}
						input[type="submit"]{
							display:block;
							background:@azul;
							text-align:center;
							height:30px;
							line-height:30px;
							color:#fff;
							border:0;
							width:100%;
							cursor:pointer;
							.transition;
							.calibri(14px);
							&:hover{
								background:@roxo;
							}
						}
					}
				}
				.coluna-endereco{
					.inline;
					width:480px;
					margin-left:115px;
					h2{
						color:@roxo;
						.marcellus(22px);
						margin-bottom:18px;
					}
					.texto{
						margin-bottom:45px;
						width:80%;
						p{
							.calibri(14px);
							line-height:150%;
							color:@azul;
							&.tel{ font-size: 18px; }
						}
					}
				}
			}
		}
	}
	footer{
		.barraFooter{
			background:url('../images/layout/rodape.png') center center no-repeat;
			height:20px;
			overflow:hidden;
			position: relative;
			&:before{
				content:"";
				display:block;
				height:1px;
				background:#8890FF;
				width:100%;
				position:absolute;
				right:0;
				top:11px;
				z-index:-1;
				-moz-transform: translateX(-54%);
				-webkit-transform: translateX(-54%);
				-o-transform: translateX(-54%);
				-ms-transform: translateX(-54%);
				transform: translateX(-54%);				
			}
			&:after{
				content:"";
				display:block;
				height:1px;
				background:#8890FF;
				width:100%;
				position:absolute;
				left:0;
				top:11px;
				z-index:-1;
				-moz-transform: translateX(54%);
				-webkit-transform: translateX(54%);
				-o-transform: translateX(54%);
				-ms-transform: translateX(54%);
				transform: translateX(54%);				
			}
		}
		.centro{
			.centralizar;
			padding-top:25px;
			padding-bottom:65px;
			height:20px;
			.footer-telefone{
				min-height:20px;
				line-height:20px;
				float:left;
				padding-left:21px;
				background: url('../images/layout/icone-telefone.png') left 1px no-repeat;
				color:#7678C3;
				.calibri(13px);
			}
			.footer-endereco{
				margin-left:15px;
				min-height:20px;
				line-height:20px;
				float:left;
				padding-left:17px;
				background: url('../images/layout/icone-local.png') left 2px no-repeat;
				color:#7678C3;
				.calibri(13px);
			}
			.footer-copyright{
				float:right;
				color:#7678C3;
				.calibri(13px);
			}
		}
		border-bottom:5px #5A5FB3 solid;
	}
}