@import url('http://fonts.googleapis.com/css?family=Marcellus+SC');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
body {
  background: url('../images/layout/padrao-background.png') #fbe9f7;
}
body header {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
  position: relative;
  height: 215px;
}
body header nav {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 82px;
}
body header nav ul {
  height: 60px;
  background-color: #fff;
  padding: 0 25px;
  font-size: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  behavior: url('PIE.htc');
}
body header nav ul li {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header nav ul li:first-child a {
  padding-left: 0;
}
body header nav ul li:last-child a {
  padding-right: 0;
}
body header nav ul li a {
  padding: 0 18px;
  text-decoration: none;
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header nav ul li a:active,
body header nav ul li a:visited {
  color: #595fb4;
}
body header nav ul li a:hover,
body header nav ul li a.ativo {
  color: #a16ba8;
}
body header nav ul li#link-home {
  margin-top: -70px;
}
body header #segundaNav {
  width: 140px;
  height: 22px;
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 0;
}
body header #segundaNav .audioControls {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding-top: 3px;
  padding-right: 4px;
  margin-top: -10px;
}
body header #segundaNav .audioControls a {
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header #segundaNav .audioControls a:active img {
  -moz-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -o-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
body header #segundaNav .audioControls a:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
body header #segundaNav .social {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header #segundaNav .social a {
  margin-left: 7px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main {
  min-height: 500px;
  position: relative;
}
body .main:before {
  content: "";
  display: block;
  background: url('../images/layout/padrao-background.png') #fbe9f7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999998;
  width: 100%;
  height: 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
body .main:after {
  content: "";
  display: block;
  background: url('../images/layout/ajax-loader.gif') center 50px no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  overflow: hidden;
  height: 0%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
body .main.loading:before {
  height: 100%;
  opacity: 1;
}
body .main.loading:after {
  height: 100%;
  opacity: 1;
}
body .main .centro {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
}
body .main h1.pagenotfound {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-top: 65px;
}
body .main h1.pagenotfound:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main h1.pagenotfound:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-home .topo {
  font-size: 0;
}
body .main.main-home .topo h2 {
  font-family: 'Marcellus SC', serif;
  font-size: 17px;
  font-weight: normal;
  color: #a16ba8;
  text-align: center;
  line-height: 120%;
}
body .main.main-home .topo h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 27px;
  font-weight: normal;
  color: #a16ba8;
  text-align: center;
  line-height: 120%;
  margin-bottom: 25px;
}
body .main.main-home .topo #banners-home {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 625px;
}
body .main.main-home .topo #banners-home .banners {
  width: 625px;
  height: 400px;
  overflow: hidden;
}
body .main.main-home .topo #banners-home .banners .banner {
  width: 625px;
  height: 400px;
  position: relative;
}
body .main.main-home .topo #banners-home .banners .banner img {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 625px;
  max-height: 400px;
}
body .main.main-home .topo #banners-home .banners .banner .legenda {
  width: 100%;
  z-index: 9;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  line-height: 45px;
  text-indent: 20px;
  color: #fff;
  font-family: 'Marcellus SC', serif;
  font-size: 22px;
  font-weight: normal;
  overflow: hidden;
  background: url('rgba.php/rgba(111, 112, 132, 0.7)');
  background: rgba(111, 112, 132, 0.7);
}
body .main.main-home .topo #banners-home .pager {
  text-align: right;
  height: 15px;
  line-height: 15px;
  padding-top: 15px;
}
body .main.main-home .topo #banners-home .pager a {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #9FA0D0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-home .topo #banners-home .pager a:last-child {
  margin-right: 0;
}
body .main.main-home .topo #banners-home .pager a:hover,
body .main.main-home .topo #banners-home .pager a.activeSlide {
  background-color: #8591FF;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body .main.main-home .topo #chamadas-home {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 35px;
  width: 300px;
}
body .main.main-home .topo #chamadas-home a {
  width: 300px;
  height: 120px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-home .topo #chamadas-home a img {
  max-width: 300px;
  max-height: 120px;
  position: absolute;
  top: 0;
  left: 0;
}
body .main.main-home .topo #chamadas-home a .texto {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  text-indent: 20px;
  width: 100%;
  color: #fff;
  font-family: 'Marcellus SC', serif;
  font-size: 17px;
  font-weight: normal;
  overflow: hidden;
  background: url('rgba.php/rgba(111, 112, 132, 0.7)');
  background: rgba(111, 112, 132, 0.7);
}
body .main.main-home .topo #chamadas-home a:last-child {
  margin-bottom: 0;
}
body .main.main-home #faixa-branca {
  margin: 25px 0 0 0;
  padding: 45px 0;
  background: #fff;
}
body .main.main-home #faixa-branca h1 {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
body .main.main-home #faixa-branca h1:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-home #faixa-branca h1:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-home #faixa-branca .centro a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 10px;
  width: 216px;
  text-align: center;
  text-decoration: none;
  font-family: 'Marcellus SC', serif;
  font-size: 17px;
  font-weight: normal;
  color: #595fb4;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-home #faixa-branca .centro a .imagem {
  padding: 10px;
  margin-bottom: 25px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  border: 8px #fff solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-home #faixa-branca .centro a .imagem img {
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  max-width: 180px;
}
body .main.main-home #faixa-branca .centro a:active,
body .main.main-home #faixa-branca .centro a:visited {
  color: #595fb4;
}
body .main.main-home #faixa-branca .centro a:hover .imagem {
  border: 8px #fbe9f7 solid;
}
body .main.main-home .inferior {
  padding-top: 65px;
  padding-bottom: 70px;
}
body .main.main-home .inferior #coluna-novidades {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 630px;
  font-size: 0;
}
body .main.main-home .inferior #coluna-novidades h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  color: #595fb4;
}
body .main.main-home .inferior #coluna-novidades h1:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-home .inferior #coluna-novidades .novidade {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-top: 35px;
  border: 1px #60628d solid;
  width: 200px;
  margin-right: 12px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-home .inferior #coluna-novidades .novidade:active .titulo,
body .main.main-home .inferior #coluna-novidades .novidade:visited .titulo {
  color: #fff;
}
body .main.main-home .inferior #coluna-novidades .novidade:active .texto,
body .main.main-home .inferior #coluna-novidades .novidade:visited .texto {
  color: #60628d;
}
body .main.main-home .inferior #coluna-novidades .novidade:last-child {
  margin-right: 0;
}
body .main.main-home .inferior #coluna-novidades .novidade .titulo {
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  padding: 10px;
  background: #60628d;
  /*height:40px;*/

  overflow: hidden;
  line-height: 130%;
}
body .main.main-home .inferior #coluna-novidades .novidade .texto {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #60628d;
  padding: 10px;
  /*height:134px;*/

  overflow: hidden;
  line-height: 130%;
}
body .main.main-home .inferior #coluna-newsletter {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 25px;
  width: 300px;
}
body .main.main-home .inferior #coluna-newsletter h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  color: #595fb4;
}
body .main.main-home .inferior #coluna-newsletter h1:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-home .inferior #coluna-newsletter p {
  margin-top: 35px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #60628d;
  line-height: 130%;
}
body .main.main-home .inferior #coluna-newsletter form {
  margin: 25px 0;
}
body .main.main-home .inferior #coluna-newsletter form input[type="text"],
body .main.main-home .inferior #coluna-newsletter form input[type="email"] {
  border: 1px #8E95FF solid;
  background: #fff;
  margin: 0 0 10px 0;
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  color: #000;
  width: 278px;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body .main.main-home .inferior #coluna-newsletter form input[type="text"]::-webkit-input-placeholder,
body .main.main-home .inferior #coluna-newsletter form input[type="email"]::-webkit-input-placeholder {
  color: #000000;
}
body .main.main-home .inferior #coluna-newsletter form input[type="text"]:-moz-placeholder,
body .main.main-home .inferior #coluna-newsletter form input[type="email"]:-moz-placeholder {
  color: #000000;
}
body .main.main-home .inferior #coluna-newsletter form input[type="text"]::-moz-placeholder,
body .main.main-home .inferior #coluna-newsletter form input[type="email"]::-moz-placeholder {
  color: #000000;
}
body .main.main-home .inferior #coluna-newsletter form input[type="text"]:-ms-input-placeholder,
body .main.main-home .inferior #coluna-newsletter form input[type="email"]:-ms-input-placeholder {
  color: #000000;
}
body .main.main-home .inferior #coluna-newsletter form .submit {
  text-align: right;
  height: 25px;
}
body .main.main-home .inferior #coluna-newsletter form .submit input[type="submit"] {
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  font-weight: normal;
  color: #595fb4;
  background: none;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding-right: 15px;
  background: url('../images/layout/botao-enviar.png') right center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-home .inferior #coluna-newsletter form .submit input[type="submit"]:hover {
  color: #a16ba8;
}
body .main.main-empresa h1 {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
body .main.main-empresa h1:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-empresa h1:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-empresa img {
  float: right;
  margin-top: -40px;
}
body .main.main-empresa h2 {
  font-family: 'Marcellus SC', serif;
  font-size: 25px;
  font-weight: normal;
  color: #a16ba8;
  margin-bottom: 30px;
}
body .main.main-empresa .texto {
  width: 610px;
}
body .main.main-empresa .texto p {
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #595fb4;
  line-height: 140%;
  margin-bottom: 30px;
}
body .main.main-empresa .fix {
  clear: both;
  padding-bottom: 100px;
}
body .main.main-produtoscategorias,
body .main.main-produtosdetalhes,
body .main.main-produtos {
  font-size: 0;
}
body .main.main-produtoscategorias h1.pagetitle,
body .main.main-produtosdetalhes h1.pagetitle,
body .main.main-produtos h1.pagetitle {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
body .main.main-produtoscategorias h1.pagetitle:before,
body .main.main-produtosdetalhes h1.pagetitle:before,
body .main.main-produtos h1.pagetitle:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-produtoscategorias h1.pagetitle:after,
body .main.main-produtosdetalhes h1.pagetitle:after,
body .main.main-produtos h1.pagetitle:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-produtoscategorias aside,
body .main.main-produtosdetalhes aside,
body .main.main-produtos aside {
  width: 275px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-produtoscategorias aside h1,
body .main.main-produtosdetalhes aside h1,
body .main.main-produtos aside h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 23px;
  font-weight: normal;
  color: #a16ba8;
}
body .main.main-produtoscategorias aside ul,
body .main.main-produtosdetalhes aside ul,
body .main.main-produtos aside ul {
  margin: 30px 0;
}
body .main.main-produtoscategorias aside ul li,
body .main.main-produtosdetalhes aside ul li,
body .main.main-produtos aside ul li {
  height: 28px;
  line-height: 28px;
}
body .main.main-produtoscategorias aside ul li a,
body .main.main-produtosdetalhes aside ul li a,
body .main.main-produtos aside ul li a {
  text-decoration: none;
  color: #595fb4;
  display: block;
  position: relative;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-produtoscategorias aside ul li a:before,
body .main.main-produtosdetalhes aside ul li a:before,
body .main.main-produtos aside ul li a:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0%;
  display: inline;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-produtoscategorias aside ul li a:active,
body .main.main-produtosdetalhes aside ul li a:active,
body .main.main-produtos aside ul li a:active,
body .main.main-produtoscategorias aside ul li a:visited,
body .main.main-produtosdetalhes aside ul li a:visited,
body .main.main-produtos aside ul li a:visited {
  color: #595fb4;
}
body .main.main-produtoscategorias aside ul li a:hover,
body .main.main-produtosdetalhes aside ul li a:hover,
body .main.main-produtos aside ul li a:hover,
body .main.main-produtoscategorias aside ul li a.ativo,
body .main.main-produtosdetalhes aside ul li a.ativo,
body .main.main-produtos aside ul li a.ativo {
  padding-left: 7px;
  font-weight: bold;
  color: #a16ba8;
}
body .main.main-produtoscategorias aside ul li a:hover:before,
body .main.main-produtosdetalhes aside ul li a:hover:before,
body .main.main-produtos aside ul li a:hover:before,
body .main.main-produtoscategorias aside ul li a.ativo:before,
body .main.main-produtosdetalhes aside ul li a.ativo:before,
body .main.main-produtos aside ul li a.ativo:before {
  opacity: 1;
}
body .main.main-produtoscategorias section,
body .main.main-produtosdetalhes section,
body .main.main-produtos section {
  width: 685px;
  margin-bottom: 60px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-produtoscategorias section h1,
body .main.main-produtosdetalhes section h1,
body .main.main-produtos section h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 23px;
  font-weight: normal;
  color: #a16ba8;
  margin-bottom: 35px;
  height: 23px;
  overflow: hidden;
  position: relative;
  display: block;
}
body .main.main-produtoscategorias section h1:after,
body .main.main-produtosdetalhes section h1:after,
body .main.main-produtos section h1:after {
  margin-left: 15px;
  content: "";
  display: inline;
  width: 100%;
  height: 1px;
  background: #a16ba8;
  top: 50%;
  position: absolute;
}
body .main.main-produtoscategorias section a.thumb,
body .main.main-produtosdetalhes section a.thumb,
body .main.main-produtos section a.thumb {
  width: 200px;
  height: 200px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 42px 42px 0;
  position: relative;
}
body .main.main-produtoscategorias section a.thumb:nth-of-type(3n),
body .main.main-produtosdetalhes section a.thumb:nth-of-type(3n),
body .main.main-produtos section a.thumb:nth-of-type(3n) {
  margin-right: 0;
}
body .main.main-produtoscategorias section a.thumb:before,
body .main.main-produtosdetalhes section a.thumb:before,
body .main.main-produtos section a.thumb:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(85, 95, 180, 0.2);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-produtoscategorias section a.thumb:hover:before,
body .main.main-produtosdetalhes section a.thumb:hover:before,
body .main.main-produtos section a.thumb:hover:before {
  opacity: 1;
}
body .main.main-produtoscategorias section ul.pagination,
body .main.main-produtosdetalhes section ul.pagination,
body .main.main-produtos section ul.pagination {
  height: 30px;
  margin-top: 55px;
  text-align: center;
}
body .main.main-produtoscategorias section ul.pagination li,
body .main.main-produtosdetalhes section ul.pagination li,
body .main.main-produtos section ul.pagination li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 20px;
  height: 20px;
  line-height: 15px;
  margin: 0 5px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
body .main.main-produtoscategorias section ul.pagination li.disabled,
body .main.main-produtosdetalhes section ul.pagination li.disabled,
body .main.main-produtos section ul.pagination li.disabled {
  display: none;
}
body .main.main-produtoscategorias section ul.pagination li.active span,
body .main.main-produtosdetalhes section ul.pagination li.active span,
body .main.main-produtos section ul.pagination li.active span {
  display: block;
  line-height: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #a16ba8;
  color: #fff;
  border: 2px #a16ba8 solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
body .main.main-produtoscategorias section ul.pagination li a,
body .main.main-produtosdetalhes section ul.pagination li a,
body .main.main-produtos section ul.pagination li a {
  display: block;
  text-decoration: none;
  line-height: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #fff;
  color: #a16ba8;
  border: 2px #a16ba8 solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-produtoscategorias section ul.pagination li a:active,
body .main.main-produtosdetalhes section ul.pagination li a:active,
body .main.main-produtos section ul.pagination li a:active,
body .main.main-produtoscategorias section ul.pagination li a:visited,
body .main.main-produtosdetalhes section ul.pagination li a:visited,
body .main.main-produtos section ul.pagination li a:visited {
  color: #a16ba8;
}
body .main.main-produtoscategorias section ul.pagination li a:hover,
body .main.main-produtosdetalhes section ul.pagination li a:hover,
body .main.main-produtos section ul.pagination li a:hover {
  background: #a16ba8;
  color: #fff;
}
body .main.main-produtoscategorias section #ampliada,
body .main.main-produtosdetalhes section #ampliada,
body .main.main-produtos section #ampliada {
  width: 450px;
  height: 450px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-produtoscategorias section #ampliada img,
body .main.main-produtosdetalhes section #ampliada img,
body .main.main-produtos section #ampliada img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
}
body .main.main-produtoscategorias section .texto,
body .main.main-produtosdetalhes section .texto,
body .main.main-produtos section .texto {
  margin-left: 40px;
  width: 195px;
  position: relative;
  height: 450px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-produtoscategorias section .texto h2,
body .main.main-produtosdetalhes section .texto h2,
body .main.main-produtos section .texto h2 {
  color: #595fb4;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
body .main.main-produtoscategorias section .texto h3,
body .main.main-produtosdetalhes section .texto h3,
body .main.main-produtos section .texto h3 {
  color: #595fb4;
  font-family: 'Calibri', sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}
body .main.main-produtoscategorias section .texto .galeria,
body .main.main-produtosdetalhes section .texto .galeria,
body .main.main-produtos section .texto .galeria {
  margin-top: 25px;
  height: 349px;
  overflow: hidden;
}
body .main.main-produtoscategorias section .texto .galeria a,
body .main.main-produtosdetalhes section .texto .galeria a,
body .main.main-produtos section .texto .galeria a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 55px;
  height: 55px;
  margin: 0 15px 15px 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
}
body .main.main-produtoscategorias section .texto .galeria a img,
body .main.main-produtosdetalhes section .texto .galeria a img,
body .main.main-produtos section .texto .galeria a img {
  max-width: 55px;
  max-height: 55px;
}
body .main.main-produtoscategorias section .texto .galeria a:nth-child(3n),
body .main.main-produtosdetalhes section .texto .galeria a:nth-child(3n),
body .main.main-produtos section .texto .galeria a:nth-child(3n) {
  margin-right: 0;
}
body .main.main-produtoscategorias section .texto .galeria a:before,
body .main.main-produtosdetalhes section .texto .galeria a:before,
body .main.main-produtos section .texto .galeria a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(85, 95, 180, 0.2);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-produtoscategorias section .texto .galeria a:hover:before,
body .main.main-produtosdetalhes section .texto .galeria a:hover:before,
body .main.main-produtos section .texto .galeria a:hover:before,
body .main.main-produtoscategorias section .texto .galeria a.aberto:before,
body .main.main-produtosdetalhes section .texto .galeria a.aberto:before,
body .main.main-produtos section .texto .galeria a.aberto:before {
  opacity: 1;
}
body .main.main-produtoscategorias section .texto .voltar,
body .main.main-produtosdetalhes section .texto .voltar,
body .main.main-produtos section .texto .voltar {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
body .main.main-produtoscategorias section .texto .voltar a,
body .main.main-produtosdetalhes section .texto .voltar a,
body .main.main-produtos section .texto .voltar a {
  display: block;
  color: #a16ba8;
  border: 1px #a16ba8 solid;
  text-align: center;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  behavior: url('PIE.htc');
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-produtoscategorias section .texto .voltar a:active,
body .main.main-produtosdetalhes section .texto .voltar a:active,
body .main.main-produtos section .texto .voltar a:active,
body .main.main-produtoscategorias section .texto .voltar a:visited,
body .main.main-produtosdetalhes section .texto .voltar a:visited,
body .main.main-produtos section .texto .voltar a:visited {
  color: #a16ba8;
}
body .main.main-produtoscategorias section .texto .voltar a:hover,
body .main.main-produtosdetalhes section .texto .voltar a:hover,
body .main.main-produtos section .texto .voltar a:hover {
  color: #595fb4;
  border: 1px #595fb4 solid;
}
body .main.main-lancamentos h1.pagetitle,
body .main.main-lancamentosdetalhes h1.pagetitle {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
body .main.main-lancamentos h1.pagetitle:before,
body .main.main-lancamentosdetalhes h1.pagetitle:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-lancamentos h1.pagetitle:after,
body .main.main-lancamentosdetalhes h1.pagetitle:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-lancamentos #faixa-branca-lanc,
body .main.main-lancamentosdetalhes #faixa-branca-lanc {
  background: #fff;
  font-size: 0;
  margin-top: 90px;
  margin-bottom: 180px;
}
body .main.main-lancamentos #faixa-branca-lanc a,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a {
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: -35px 21px 85px 21px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-lancamentos #faixa-branca-lanc a:first-child,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:first-child,
body .main.main-lancamentos #faixa-branca-lanc a:nth-child(5),
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:nth-child(5) {
  margin-left: 15px;
}
body .main.main-lancamentos #faixa-branca-lanc a:nth-child(8),
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:nth-child(8),
body .main.main-lancamentos #faixa-branca-lanc a:nth-child(4),
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:nth-child(4) {
  margin-right: 15px;
}
body .main.main-lancamentos #faixa-branca-lanc a:nth-child(n+4),
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:nth-child(n+4) {
  margin-bottom: -65px;
}
body .main.main-lancamentos #faixa-branca-lanc a:active .texto,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:active .texto,
body .main.main-lancamentos #faixa-branca-lanc a:visited .texto,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:visited .texto {
  color: #595fb4;
}
body .main.main-lancamentos #faixa-branca-lanc a:hover .imagem img,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a:hover .imagem img {
  border-color: #595fb4;
}
body .main.main-lancamentos #faixa-branca-lanc a .imagem,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a .imagem {
  width: 200px;
  height: 200px;
}
body .main.main-lancamentos #faixa-branca-lanc a .imagem img,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a .imagem img {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  border: 10px #fff solid;
  max-width: 180px;
  max-height: 180px;
}
body .main.main-lancamentos #faixa-branca-lanc a .texto,
body .main.main-lancamentosdetalhes #faixa-branca-lanc a .texto {
  margin-top: 15px;
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  font-weight: normal;
  color: #595fb4;
}
body .main.main-lancamentos .centro,
body .main.main-lancamentosdetalhes .centro {
  font-size: 0;
}
body .main.main-lancamentos aside,
body .main.main-lancamentosdetalhes aside {
  width: 275px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-lancamentos aside h1,
body .main.main-lancamentosdetalhes aside h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 23px;
  font-weight: normal;
  color: #a16ba8;
}
body .main.main-lancamentos aside ul,
body .main.main-lancamentosdetalhes aside ul {
  margin: 30px 0;
}
body .main.main-lancamentos aside ul li,
body .main.main-lancamentosdetalhes aside ul li {
  height: 28px;
  line-height: 28px;
}
body .main.main-lancamentos aside ul li a,
body .main.main-lancamentosdetalhes aside ul li a {
  text-decoration: none;
  color: #595fb4;
  display: block;
  position: relative;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-lancamentos aside ul li a:before,
body .main.main-lancamentosdetalhes aside ul li a:before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0%;
  display: inline;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-lancamentos aside ul li a:active,
body .main.main-lancamentosdetalhes aside ul li a:active,
body .main.main-lancamentos aside ul li a:visited,
body .main.main-lancamentosdetalhes aside ul li a:visited {
  color: #595fb4;
}
body .main.main-lancamentos aside ul li a:hover,
body .main.main-lancamentosdetalhes aside ul li a:hover,
body .main.main-lancamentos aside ul li a.ativo,
body .main.main-lancamentosdetalhes aside ul li a.ativo {
  padding-left: 7px;
  font-weight: bold;
  color: #a16ba8;
}
body .main.main-lancamentos aside ul li a:hover:before,
body .main.main-lancamentosdetalhes aside ul li a:hover:before,
body .main.main-lancamentos aside ul li a.ativo:before,
body .main.main-lancamentosdetalhes aside ul li a.ativo:before {
  opacity: 1;
}
body .main.main-lancamentos section,
body .main.main-lancamentosdetalhes section {
  width: 685px;
  margin-bottom: 60px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-lancamentos section h1,
body .main.main-lancamentosdetalhes section h1 {
  font-family: 'Marcellus SC', serif;
  font-size: 23px;
  font-weight: normal;
  color: #a16ba8;
  margin-bottom: 35px;
  height: 23px;
  overflow: hidden;
  position: relative;
  display: block;
}
body .main.main-lancamentos section h1:after,
body .main.main-lancamentosdetalhes section h1:after {
  content: "";
  margin: 0;
  display: inline;
  width: 100%;
  height: 1px;
  background: #a16ba8;
  top: 50%;
  position: absolute;
}
body .main.main-lancamentos section a.thumb,
body .main.main-lancamentosdetalhes section a.thumb {
  width: 200px;
  height: 200px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 42px 42px 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-lancamentos section a.thumb:nth-of-type(3n),
body .main.main-lancamentosdetalhes section a.thumb:nth-of-type(3n) {
  margin-right: 0;
}
body .main.main-lancamentos section ul.pagination,
body .main.main-lancamentosdetalhes section ul.pagination {
  height: 30px;
  margin-top: 55px;
  text-align: center;
}
body .main.main-lancamentos section ul.pagination li,
body .main.main-lancamentosdetalhes section ul.pagination li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 20px;
  height: 20px;
  line-height: 15px;
  margin: 0 5px;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
body .main.main-lancamentos section ul.pagination li.disabled,
body .main.main-lancamentosdetalhes section ul.pagination li.disabled {
  display: none;
}
body .main.main-lancamentos section ul.pagination li.active span,
body .main.main-lancamentosdetalhes section ul.pagination li.active span {
  display: block;
  line-height: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #a16ba8;
  color: #fff;
  border: 2px #a16ba8 solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
}
body .main.main-lancamentos section ul.pagination li a,
body .main.main-lancamentosdetalhes section ul.pagination li a {
  display: block;
  text-decoration: none;
  line-height: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #fff;
  color: #a16ba8;
  border: 2px #a16ba8 solid;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-lancamentos section ul.pagination li a:active,
body .main.main-lancamentosdetalhes section ul.pagination li a:active,
body .main.main-lancamentos section ul.pagination li a:visited,
body .main.main-lancamentosdetalhes section ul.pagination li a:visited {
  color: #a16ba8;
}
body .main.main-lancamentos section ul.pagination li a:hover,
body .main.main-lancamentosdetalhes section ul.pagination li a:hover {
  background: #a16ba8;
  color: #fff;
}
body .main.main-lancamentos section #ampliada,
body .main.main-lancamentosdetalhes section #ampliada {
  width: 450px;
  height: 450px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-lancamentos section #ampliada img,
body .main.main-lancamentosdetalhes section #ampliada img {
  display: block;
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
}
body .main.main-lancamentos section .texto,
body .main.main-lancamentosdetalhes section .texto {
  margin-left: 40px;
  width: 195px;
  position: relative;
  height: 450px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.main-lancamentos section .texto h2,
body .main.main-lancamentosdetalhes section .texto h2 {
  color: #595fb4;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
body .main.main-lancamentos section .texto h3,
body .main.main-lancamentosdetalhes section .texto h3 {
  color: #595fb4;
  font-family: 'Calibri', sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}
body .main.main-lancamentos section .texto .galeria,
body .main.main-lancamentosdetalhes section .texto .galeria {
  margin-top: 25px;
  height: 349px;
  overflow: hidden;
}
body .main.main-lancamentos section .texto .galeria a,
body .main.main-lancamentosdetalhes section .texto .galeria a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 55px;
  height: 55px;
  margin: 0 15px 15px 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-lancamentos section .texto .galeria a img,
body .main.main-lancamentosdetalhes section .texto .galeria a img {
  max-width: 55px;
  max-height: 55px;
}
body .main.main-lancamentos section .texto .galeria a:nth-child(3n),
body .main.main-lancamentosdetalhes section .texto .galeria a:nth-child(3n) {
  margin-right: 0;
}
body .main.main-lancamentos section .texto .voltar,
body .main.main-lancamentosdetalhes section .texto .voltar {
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
body .main.main-lancamentos section .texto .voltar a,
body .main.main-lancamentosdetalhes section .texto .voltar a {
  display: block;
  color: #a16ba8;
  border: 1px #a16ba8 solid;
  text-align: center;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  behavior: url('PIE.htc');
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-lancamentos section .texto .voltar a:active,
body .main.main-lancamentosdetalhes section .texto .voltar a:active,
body .main.main-lancamentos section .texto .voltar a:visited,
body .main.main-lancamentosdetalhes section .texto .voltar a:visited {
  color: #a16ba8;
}
body .main.main-lancamentos section .texto .voltar a:hover,
body .main.main-lancamentosdetalhes section .texto .voltar a:hover {
  color: #595fb4;
  border: 1px #595fb4 solid;
}
body .main.main-novidades {
  padding-bottom: 60px;
}
body .main.main-novidades h1.pagetitle {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
body .main.main-novidades h1.pagetitle:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-novidades h1.pagetitle:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-novidades .fix {
  clear: both;
}
body .main.main-novidades .imagem {
  width: 280px;
  float: right;
}
body .main.main-novidades .imagem img {
  max-width: 280px;
  display: block;
  margin: 0 auto;
}
body .main.main-novidades section {
  width: 615px;
}
body .main.main-novidades section .novidade {
  margin-bottom: 25px;
  border: 1px #595FB5 solid;
}
body .main.main-novidades section .novidade .superior {
  padding: 12px 15px;
  background: #595FB5;
  color: #fff;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
body .main.main-novidades section .novidade .superior .data {
  float: right;
}
body .main.main-novidades section .novidade .inferior {
  padding: 12px 15px;
  color: #595FB5;
  font-family: 'Calibri', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 140%;
}
body .main.main-clippings h1.pagetitle {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
body .main.main-clippings h1.pagetitle:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-clippings h1.pagetitle:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-clippings .lista-clippings {
  padding-bottom: 60px;
  font-size: 0;
}
body .main.main-clippings .lista-clippings .link-visivel {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 215px;
  height: 280px;
  margin-right: 30px;
  margin-bottom: 30px;
}
body .main.main-clippings .lista-clippings .link-visivel:nth-child(4n) {
  margin-right: 0;
}
body .main.main-clippings .lista-clippings .link-visivel img {
  max-width: 215px;
  max-height: 280px;
  display: block;
  margin: 0 auto;
}
body .main.main-contato {
  margin-bottom: -14px;
}
body .main.main-contato h1.pagetitle {
  color: #595fb4;
  font-family: 'Marcellus SC', serif;
  font-size: 31px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin-bottom: 55px;
}
body .main.main-contato h1.pagetitle:before {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-right: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-1.png') center center no-repeat;
}
body .main.main-contato h1.pagetitle:after {
  content: "";
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: baseline;
  margin-left: 15px;
  position: relative;
  width: 70px;
  height: 20px;
  background: url('../images/layout/icone-titulo-2.png') center center no-repeat;
}
body .main.main-contato .contato-colunas {
  font-size: 0;
}
body .main.main-contato .contato-colunas .coluna-form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 365px;
}
body .main.main-contato .contato-colunas .coluna-form h2 {
  color: #a16ba8;
  font-family: 'Marcellus SC', serif;
  font-size: 22px;
  font-weight: normal;
}
body .main.main-contato .contato-colunas .coluna-form form {
  margin-top: 18px;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="email"],
body .main.main-contato .contato-colunas .coluna-form form input[type="text"] {
  background: none;
  border: 1px #595fb4 solid;
  display: block;
  margin: 0 0 0 0;
  padding: 4px 14px;
  width: 335px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #595fb4;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="email"]::-webkit-input-placeholder,
body .main.main-contato .contato-colunas .coluna-form form input[type="text"]::-webkit-input-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="email"]:-moz-placeholder,
body .main.main-contato .contato-colunas .coluna-form form input[type="text"]:-moz-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="email"]::-moz-placeholder,
body .main.main-contato .contato-colunas .coluna-form form input[type="text"]::-moz-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="email"]:-ms-input-placeholder,
body .main.main-contato .contato-colunas .coluna-form form input[type="text"]:-ms-input-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form textarea {
  background: none;
  border: 1px #595fb4 solid;
  display: block;
  margin: 0 0 0 0;
  padding: 4px 14px;
  width: 335px;
  height: 100px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #595fb4;
  resize: none;
  overflow: auto;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .main.main-contato .contato-colunas .coluna-form form textarea::-webkit-input-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form textarea:-moz-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form textarea::-moz-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form textarea:-ms-input-placeholder {
  color: #777777;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="submit"] {
  display: block;
  background: #595fb4;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border: 0;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body .main.main-contato .contato-colunas .coluna-form form input[type="submit"]:hover {
  background: #a16ba8;
}
body .main.main-contato .contato-colunas .coluna-endereco {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 480px;
  margin-left: 115px;
}
body .main.main-contato .contato-colunas .coluna-endereco h2 {
  color: #a16ba8;
  font-family: 'Marcellus SC', serif;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 18px;
}
body .main.main-contato .contato-colunas .coluna-endereco .texto {
  margin-bottom: 45px;
  width: 80%;
}
body .main.main-contato .contato-colunas .coluna-endereco .texto p {
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  color: #595fb4;
}
body .main.main-contato .contato-colunas .coluna-endereco .texto p.tel {
  font-size: 18px;
}
body footer {
  border-bottom: 5px #5A5FB3 solid;
}
body footer .barraFooter {
  background: url('../images/layout/rodape.png') center center no-repeat;
  height: 20px;
  overflow: hidden;
  position: relative;
}
body footer .barraFooter:before {
  content: "";
  display: block;
  height: 1px;
  background: #8890FF;
  width: 100%;
  position: absolute;
  right: 0;
  top: 11px;
  z-index: -1;
  -moz-transform: translateX(-54%);
  -webkit-transform: translateX(-54%);
  -o-transform: translateX(-54%);
  -ms-transform: translateX(-54%);
  transform: translateX(-54%);
}
body footer .barraFooter:after {
  content: "";
  display: block;
  height: 1px;
  background: #8890FF;
  width: 100%;
  position: absolute;
  left: 0;
  top: 11px;
  z-index: -1;
  -moz-transform: translateX(54%);
  -webkit-transform: translateX(54%);
  -o-transform: translateX(54%);
  -ms-transform: translateX(54%);
  transform: translateX(54%);
}
body footer .centro {
  width: 960px;
  padding: 0 0;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 65px;
  height: 20px;
}
body footer .centro .footer-telefone {
  min-height: 20px;
  line-height: 20px;
  float: left;
  padding-left: 21px;
  background: url('../images/layout/icone-telefone.png') left 1px no-repeat;
  color: #7678C3;
  font-family: 'Calibri', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
body footer .centro .footer-endereco {
  margin-left: 15px;
  min-height: 20px;
  line-height: 20px;
  float: left;
  padding-left: 17px;
  background: url('../images/layout/icone-local.png') left 2px no-repeat;
  color: #7678C3;
  font-family: 'Calibri', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
body footer .centro .footer-copyright {
  float: right;
  color: #7678C3;
  font-family: 'Calibri', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
